<div class="page-container">
  <div class="main-container">
    <div class="content">
      <div>
        <app-input-component [placeholder]="inputObj.placeholder" [label]="inputObj.label"
          (onChangeInput)="onSubmit($event)" [defaultValue]="''">
        </app-input-component>

      </div>
      <div *ngIf="isEmpty === false">
        <app-list-container>
          <app-list [content]="option" *ngFor="let option of arr"></app-list>
        </app-list-container>
      </div>
      <div *ngIf="isEmpty === true">
        no todo availble
      </div>
    </div>
  </div>
</div>
